/vendor/
/.phpunit.cache
/node_modules/
.DS_Store
.env
.env.backup
.env.local
.env.production
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.cache
.phpunit.result.cache
/build/
/coverage/
composer.lock 